body {
    padding: 0;
    margin: 0;
    background-image: url("images/878.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#icerik {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh; /* You must set a specified height */
    justify-content: center;
    display: flex;
    align-items: center;

}

.center {
    position: relative;
    left: 50px;
    max-width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#about {
    padding: 80px;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact {
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
}

#oscw {
    margin-bottom: 150px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.yazim {
    color: white;
    position: relative;
    font-size: 50px;
    font-weight: 700;
    font-style: revert;
    text-align: center;
}

.yakisikli {
    width: 100%;
    height: 100%;
}

#navbar {
    width: 100%;
    position: fixed;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(9px);
    background: rgb(151, 192, 179);
    border: 1px solid hsla(0, 0%, 100%, .02);
    box-shadow: 0 8px 32px 0 rgba(192, 85, 185, 0.02);
    z-index: 90;
    background: transparent;
}

.emre-nav-text {
    color: white;
}

i {
    padding: 10px;
    color: white;
    background: transparent;
}

i:hover {
    color: cadetblue;
}

#contact-social-media-area {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;

}

#skills {
    max-width: 1200px;
    height: 100vh;
    width: 96%;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

#ema {
    color: white;
    font-style: unset;
    font-size: 20px;
}

#socmed {
    color: white;
    font-size: 40px;
    font-style: italic;
}

.card-first {
    position: absolute;
    top: 200px;
    left: 100px;
}

.card-second {
    position: absolute;
    top: 300px;
    left: 500px;
}

.card-thirth {
    position: absolute;
    top: 400px;
    left: 800px;
}

.card-forth {
    position: absolute;
    top: 500px;
    left: 1200px;
}


.card-text {
    font-size: 25px;
}

#sklsntc1 {
    position: absolute;
    left: 1100px;
    bottom: 700px;
    font-size: 40px;
    color: white;
}



#soz {
    position: absolute;
    top: 500px;
    right: 350px;
}

#prgrmmrphoto {
    height: 500px;
    width: 500px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
* {
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    color: cadetblue;

}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {

        width: 100%;
        display: flex;
        margin-bottom: 20px;
    }
}







